@media only screen and (max-width: 780px){
    body{
        display: block;
    }
    [class*="col-"] {
        width: 100%;
      }
    
}

body{
    width: 100%;
    height: auto;
    opacity: 0.9;
    font-style: italic;
}
#landing{
    width: 100%;
    height: 100vh;
    background-color: brown;
    background-image: url(/images/chef-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#overlay{
       background-color: rgba(0, 0, 0, 0.3); 
}    
#header{
    text-align: center;
}
#header>h1{
    font-style: italic;
    color: rgb(36, 243, 36);
    font-weight: bold;
}
#header>p{
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color: yellow;
}
nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
#home{
    margin: 15px;
    font-size: x-large;

}
#norder{
    margin: 15px;
    font-size: x-large;
}
#contact{
    margin: 15px;
    font-size: x-large;
}

#sizes{
   margin-left: 130px;
   background-color: chartreuse;
}
#crusts{
    margin-left: 230px;
    background-color: chartreuse;
}
#toppings{
    margin-left: 330px;
    background-color: chartreuse;
}

.quan{
    width: 200px;
    margin-left: 550px;
    margin-top: 40px;
}
.quan>label{
    color: lawngreen;
    font-size: 25px;
    font-weight: bolder;
}

/*orderhere{
    width: 300px;
    height: 40px;
    margin-top: 150px;
    
}*/

.confirm{
    background-color: white;
    height: 80px;
    margin-left: 10px;
}
.deliver{
    color: lawngreen;
    font-size: 18px;
    margin-left: 300px;
}
.deliver>h5{
    margin-bottom: -20px;
    margin-top: 15px;
}

.checkout{
  text-align: center;
}
#checkout{
    background-color: yellow;
    color: black;
    border-radius: 10px;
}
#checkout:hover{
    background-color: yellowgreen;
}
#orderdetails{
    text-align: center;
    color: lawngreen;
    display: none;
}
ul{
    font-size: 23px;
}
#contacts{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    color: blue;
}

#delivery-message{
    color: yellow;
}
#summary>li{
    color: violet;
}