/* fonts */
@font-face {
    font-family: millenia;
    src: url(/fonts/GoldenBrickPersonalUseRegular-eZyr6.ttf);
}
@font-face {
    font-family: sweet;
    src: url(/fonts/SweetHipster-PzlE.ttf);
}
@font-face {
    font-family: Rosmatica;
    src: url(/fonts/RosmatikaRegular-BWA45.ttf);
}


@media only screen and (max-width: 780px){
    body{
        display: block;
    }
    [class*="col-"] {
        width: 100%;
      }
    
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    opacity: 0.9;
    font-style: italic;
}
#landing{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: brown;
    background-image: url(/images/food\ bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

/* slides css ////////////////////////////////////////////////////////// */
.slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 80vh;
    display: flex;
}
.slides>input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide>img{
    width: 500px;
    height: 400px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -9px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* css for auto navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 500px;
}
.navigation-auto>div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto>div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto>.auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto>.auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto>.auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto>.auto-btn4{
    background-color: white;
}

/* style the individual sliding elements ///////////////////////*/
#landing1{
    position: relative;
    display: flex;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#landing1>h1{
    text-align: center;
    font-size: 100px;
    font-family: sweet;
    color: white;
    font-weight: bold;
    gap: -5px;
}
#landing1>h1>span>img{
   width: 300px;
   height: 100px;
}
#landing1>img{
    width: 400px;
    height: 500px;
}
#landing1>#qualityLogo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 20px;
  
}
#landing1>#deliveryLogo{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 20px;
}
#landing1>#orderFoot{
    position: absolute;
    color: #ffe203;
    left: 10px;
    bottom: 0;
}
#landing1>#orderFoot>h2>span>img{
    width: 50px;
    height: 50px;
}
#landing1>#orderFoot>h2{
    font-family: millenia;
    font-size: 50px;
}

#landing2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#landing2>h1{
    position: absolute;
    color: red;
    /* color: #f83426; */
    font-size: 70px;
    font-family: Rosmatica;
}
#landing2>h1>span{
    color: #ffe203;
    font-weight: 900;
}
#landing2>#img2{
    width: 1500px;
    height: 550px;
}
#landing2>#bestLogo2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    bottom: 0;
}
#landing2>#qualityLogo2{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10px;
    top: 0;
}

/* /////////////////////////////////////////////////////////////// */

#overlay{
       background-color: rgba(0, 0, 0, 0.3); 
}    
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
}
#title>h1{
    font-style: italic;
    color: rgb(36, 243, 36);
    font-weight: bold;
}
#title>p{
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color: yellow;
    margin-bottom: -5px;
}
#title>#logo>img{
    width: 40px;
    height: 40px;
}
#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title>h1{
    font-size: 25px;
}
nav{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
nav>div>a{
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav>div>a:hover{
    color: yellow;
}

#sizes{
   margin-left: 130px;
   background-color: chartreuse;
}
#crusts{
    margin-left: 230px;
    background-color: chartreuse;
}
#toppings{
    margin-left: 330px;
    background-color: chartreuse;
}

.quan{
    width: 200px;
    margin-left: 550px;
    margin-top: 40px;
}
.quan>label{
    color: lawngreen;
    font-size: 25px;
    font-weight: bolder;
}

/*orderhere{
    width: 300px;
    height: 40px;
    margin-top: 150px;
    
}*/

.confirm{
    background-color: white;
    height: 80px;
    margin-left: 10px;
}
.deliver{
    color: lawngreen;
    font-size: 18px;
    margin-left: 300px;
}
.deliver>h5{
    margin-bottom: -20px;
    margin-top: 15px;
}

.checkout{
  text-align: center;
}
#checkout{
    background-color: yellow;
    color: black;
    border-radius: 10px;
}
#checkout:hover{
    background-color: yellowgreen;
}
#orderdetails{
    text-align: center;
    color: lawngreen;
    display: none;
}
ul{
    font-size: 23px;
}
#contacts{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    color: blue;
}

#delivery-message{
    color: yellow;
}
#summary>li{
    color: violet;
}